<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add an Item</title>
</head>
<body>
    <div class="wrapper">
         <div class="header">
            <a href="/wish_items/dashboard" class='right1'>Home</a>
            <a href="/logout">Logout</a>  
        </div> 
        <div class="items">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            <h1>Create a New Wish Item!</h1>
            <form action="/wish_item/create" method="POST">
            {% csrf_token %}
                Item/Product: 
                <input type="text" name="product">
                <input type="submit" value="Add!">
            </form>
        </div>
    </div>
</body>
</html>