<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User: Add</title>
</head>
<body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <h1>Add a new user</h1>
    <form action="/users/create" method="POST">
        {% csrf_token %}
        First Name: <input type="text" name="fname" class="fname">
        Last Name: <input type="text" name="lname" class="lname">
        Email: <input type="text" name="email" class="email">
        <input type="submit" value="Create">
    </form>
    <a href="/users">Go Back</a>
</body>
</html>