<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Random Word</title>
          {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'random_word/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
        </head>
<body>
    <div class="wrapper">
        <div class="">
            <div class="">
                <div class="">
                    <div class="">
                        <span class="">Random Word (attempt # {{request.session.counter}})</span>
                        <h3>{{request.session.word}}</h3>
                    </div>
                    <div class="">
                        <form class="" action="/word" method="post">
                            {% csrf_token %}
                            <input type="submit" class="" name="word" value="Generate">
                        </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>